<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	
	<bean id="daoBase" class="com.pjtc.transport.dao.DaoImplBase" abstract="true">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="transportOrderDao" class="com.pjtc.transport.dao.TransportOrderDaoImpl" 
		parent="daoBase">		
	</bean>
	
	<bean id="userDao" class="com.pjtc.transport.dao.UserDaoImpl" parent="daoBase">		
	</bean>
	
	<bean id="userService" class="com.pjtc.transport.service.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	<bean id="transportOrderServcie" class="com.pjtc.transport.service.TransportOrderServiceImpl">
		<property name="transportOrderDao" ref="transportOrderDao"/>
	</bean>
	
	<tx:advice transaction-manager="txManager" id="txAdvice">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="query*" read-only="true"/>
			<tx:method name="create*" />
			<tx:method name="update*" />
			<tx:method name="delete*" />
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut expression="execution(public * com.pjtc.transport.service..*.*(..))" id="servicePointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="servicePointcut"/>
	</aop:config>
	
</beans>